@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .typography-medium {
    @apply text-[14px] font-normal leading-[18px] tracking-[-0.5px];
  }
  .typography-exception-username-small {
    @apply text-[14px] font-bold leading-[14px] tracking-[-0.25px];
  }
  .typography-exception-meta {
    @apply text-[14px] font-normal leading-[14px] tracking-[-0.25px];
  }
  .typography-label-small-bold {
    @apply text-[13px] font-bold leading-[15px] tracking-[-0.25px];
  }
  .typography-title-small-heavy {
    @apply text-[20px] font-extrabold leading-[24px] tracking-[-1px];
  }
  .typography-body-small {
    @apply text-[13px] font-normal leading-[16px] tracking-[-0.25px];
  }
  .typography-mobile-tabbar {
    @apply text-[9px] font-normal leading-[11px] tracking-[-0.25px];
  }
  .typography-desktop-side-menu {
    @apply text-[14px] font-normal leading-[14px] tracking-[-0.5px];
  }

  .scrollbar-hide {
    /* IE and Edge */
    -ms-overflow-style: 'none';

    /* Firefox */
    scrollbar-width: 'none';

    /* Safari and Chrome */
    &::-webkit-scrollbar {
      @apply hidden;
    }
  }
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #f4f4f4;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  box-sizing: border-box;
}
